@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,700,900&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 3px;
}

:root {
  --primaryColor: rgba(38, 51, 51, 0.8);
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #424242;
  --mainTransition: all 0.15s linear;
  --mainSpacing: 1.5px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
  padding-top: 20px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: 'open sans';
  line-height: 1.4;
}

.MuiFormControl-root {
  width: 100%;
}

.after-receiving-data-information {
  width: 510px;
  margin: 30px auto !important;
}

#scroll-to-top button {
  outline: none;
  border: none;
}
