.configuration-fields-title {
	margin: 20px auto !important;
	width: 400px;
}

.MuiFormControlLabel-root {
	margin: 0px 16px 0px 0px !important;
}

.MuiFormControlLabel-root:last-child {
	margin-right: 12px !important;
}

.unblock-checkbox {
	width: fit-content;
	margin: auto;
}

.required-checkboxes {
	width: 720px;
	margin: auto;
}

.optional-checkboxes {
	width: 954px;
	margin: auto;
}

.optional-fields-container {
	margin-top: 10px;
}

.agree-checkbox {
	margin: auto;
	width: 353px;
}
  