.jira-credentails-container {
	width: 400px;
	text-align: center;
	margin: 30px auto;
  }
  
.jira-credentails-title {
	margin-top: 30px;
}
  
.jira-credentails {
	margin: 20px auto;
}
  
.jira-credentails-field {
	width: 250px !important;
}
