.status {
    text-align: center;
    margin: 10px auto;
}

.error {
    width: 400px;
    color: red;
    margin-top: 0 !important;
    padding-bottom: 20px;
}

.success {
    color: green;
    margin-top: 10px !important;
}
