@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,700,900&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 3px;
}

:root {
  --primaryColor: rgba(38, 51, 51, 0.8);
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #424242;
  --mainTransition: all 0.15s linear;
  --mainSpacing: 1.5px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
  padding-top: 20px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: 'open sans';
  line-height: 1.4;
}

.MuiFormControl-root {
  width: 100%;
}

.jira_url_title {
  margin-top: 30px !important;
}

.jira_url_container {
  width: 400px;
  text-align: center;
  margin: 30px auto;
}

.jira_credentails_container {
  width: 400px;
  text-align: center;
  margin: 30px auto;
}

.jira_credentails {
  margin: 20px auto;
}

.jira_credentails_field {
  width: 250px !important;
}

.Form_Container {
    margin: 30px auto 20px;
    width: 400px;
}

.dataButton {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.jira_credentails_title {
  margin-top: 30px !important;
}

.status {
  text-align: center;
  margin: 10px auto;
}

.error {
  color:red;
  margin-top: 0 !important;
  padding-bottom: 20px;
}

.success {
  color:green;
  margin-top: 10px !important;
}

#scroll-to-top button {
  outline: none;
  border: none;
}

.optionalFieldsContainer {
  margin-top: 10px;
}

.unblockCheckbox {
  width: fit-content;
  margin: auto;
}

.requiredCheckboxes {
  width: 720px;
  margin: auto;
}

.optionalCheckboxes {
  width: 954px;
  margin: auto;
}

.MuiFormControlLabel-root {
  margin: 0px 16px 0px 0px !important;
}

.MuiFormControlLabel-root:last-child {
  margin-right: 12px !important;
}

.uploadTitle {
  width: 600px;
  margin: 30px auto !important;
  ;
}

.agreeCheckbox {
  margin: auto;
  width: 353px;
}