@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,700,900&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 3px;
}

:root {
  --primaryColor: rgba(38, 51, 51, 0.8);
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #424242;
  --mainTransition: all 0.15s linear;
  --mainSpacing: 1.5px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: 'open sans';
  line-height: 1.4;
}
h1 {
  font-weight: 700;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

h4 .info-room-info {
  border-radius: 0px !important;
}

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  background: rgba(38, 51, 51, 0.8);
  padding: 0.4rem 0.9rem;
  border: 3px solid rgba(38, 51, 51, 0.1);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
}
.btn-primary:hover {
  border: 3px solid rgba(38, 51, 51, 0.8);
  background: transparent;
  color: #222;
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--mainWhite);
  z-index: 100000;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
} 
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  height: 100px;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
/* end of navbar */

.roomsHero {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Banner */
.banner {
  display: inline-block;
  background: white;
  color: var(--mainBlack);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  border-radius: 3px;
  /* width: 50vw; */
}
.banner h1 {
  font-size: 1.5rem;
}
.banner div {
  width: 22rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
/* End of Banner */
/* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */
#rooms-container {
  margin-top: 40px;
}
/* services */
#services {
  padding: 5rem 0;
}
#services {
  background: #eeeeee;
  text-align: center;
  color: var(--mainBlack);
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
#services h6 {
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}
#services p {
  width: 80%;
  margin: 0 auto;
}

#single-map {
  width: 80%; 
  height: 100%;
}

@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  #services p {
    width: 100%;
  }
}
/*end of services */
/* featured rooms */

#featured-rooms {
  padding: 5rem 0;
  background: var(--offWhite);
}
.featured-rooms-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
  .featured-rooms-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featured-rooms-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end pf featured rooms */
/* room */
.room {
  box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.25);
  -webkit-box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.25);
  transition: var(--mainTransition);
  background-color: var(--mainWhite);
}
.room:hover {
  box-shadow: 0 .2.2rem .2.2rem 0 rgba(0,0,0,.25);
  -webkit-box-shadow: 0 .2.2rem .2.2rem 0 rgba(0,0,0,.25);
}

.img-container {
  position: relative;
  z-index: 1;
}
.img-container img {
  width: 100%;
  min-height: 162px;
  display: block;
  transition: var(--mainTransition);
}

.single-img-container {
  position: relative;
  z-index: 1;
}
.single-img-container img {
  width: 100%;
  min-height: 162px;
  display: block;
  transition: var(--mainTransition);
}

.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(38, 51, 51, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.room-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.13s linear;
}

.img-container:hover {
  background: rgba(0, 0, 0, 0.3);
}

.img-container:hover img {
  opacity: 0.8;
}
.img-container:hover .price-top {
  opacity: 0;
}

.img-container:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
}

.single-img-container:hover {
  background: rgba(0, 0, 0, 0.3);
}
.single-img-container:hover img {
  opacity: 0.8;
}
.single-img-container:hover .price-top {
  opacity: 0;
}
.single-img-container:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
}

.room-info {
  background: var(--mainWhite);
  text-transform: capitalize;
  padding: 1.0rem 0 1.5rem 0;
  text-align: center;
  font-weight: 700;
  font-size: large;
  letter-spacing: var(--mainSpacing);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
  bottom: 10px;
  height: 34px;
}
/* end of room  */
/* single room*/

#single-room {
  padding: 5rem 0 0 0;
}
.single-room-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.single-room-images img {
  width: 100%;
  display: block;
}
.single-room-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}
.desc,
.info {
  margin: 1rem 0;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.desc p {
  line-height: 1.5;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.info h6 {
  font-weight: 300;
}
.room-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}
.room-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .single-room-images,
  .single-room-info,
  .room-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-room-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
}
/* end of single room*/
/* roomlist */
.roomslist {
  /* border: 2px solid green; */
  padding: 20px 0;
}
.roomslist-center {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 992px) {
  .roomslist-center {
    max-width: 1170px;
  }
}
/* end of roomlist */
/*  rooms fitler*/
.filter-container {
  border: 1px solid black;
  background-color: var(--offWhite);
  padding: 20px 0;
  max-height: 600px;
  margin-top:20px;
}
.filter-form {
  /* border: 2px solid purple; */
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, minmax(80%, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
.form-group {
  text-transform: capitalize;
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.form-control {
  width: 100%;
  background: white;
  font-size: 1rem;
}
.size-inputs {
  display: flex;
}
.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

@media screen and (min-width: 992px) {
  .filter-form {
    /* width: 95vw; */
    max-width: 1170px;
  }
}
/* end of rooms fitler*/

/* info window */
.info-room {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  background-color: var(--mainWhite);
  border-radius: 0px !important;
}
.info-room:hover {
  box-shadow: var(--darkShadow);
}
.info-image {
  width: 230px;
  height: 138px;
  margin-bottom: 10px;
}

.single-info-image {
  width: 220px;
  height: 126px;
  margin-bottom: 10px;
}

.info-img-container {
  position: relative;
  margin-left: 5px;
  margin-top: 3px;
}
.info-img-container img {
  width: auto;
  display: block;
  transition: var(--mainTransition);
}
.info-price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(38, 51, 51, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.info-price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.info-room-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.13s linear;
}
.info-room-info {
  margin-top: .25rem;
  margin-bottom: 0px;
}
.info-img-container:hover {
  background: rgba(0, 0, 0, 0.5);
}
.info-img-container:hover img {
  opacity: 0.8;
}
.info-img-container:hover .info-price-top {
  opacity: 0;
}
.info-img-container:hover .info-room-link {
  transform: translate(-50%, -50%) scale(1);
}
.info-room-info {
  background: var(--mainWhite);
  text-transform: capitalize;
  padding: 0.7rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
  position: relative;
  bottom: 10px;
  height: 24px;
}
/* end of info window */

/* map */
.mapContainer{
  height: 1000px;
  padding: 20px;
}
/* end map */

/* grid fix code  */
#roomsWrapper {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  padding: 0px 10px;
}

#scroll-to-top button {
    outline: none;
    border: none;
}

@media only screen
  and (max-width: 735px)  { 
    #roomsWrapper {
      display: grid;
      grid-template-columns: 100%;
    }

    .roomslist-center {
      width: 80%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(1, minmax(270px, 1fr));
      grid-row-gap: 2rem;
      grid-column-gap: 30px;
    }

    .mapContainer{
      height: 400px;
      padding: 20px;
    }

    .single-room-images {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media only screen 
  and (min-width: 735px) 
  and (max-width: 1175px)  { 

    .filter-form {
      width: 100%;
    }

    .roomslist-center {
      width: 80%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(1, minmax(270px, 1fr));
      grid-row-gap: 2rem;
      grid-column-gap: 30px;
    }

    #roomsWrapper {
      display: grid;
      grid-template-columns: 20% 40% 40%;
    }
}

@media only screen 
  and (min-width: 1175px) 
  and (max-width: 1300px)  { 

    .roomslist-center {
      width: 80%;
      margin: 0 2vw;
      display: grid;
      grid-template-columns: repeat(2, minmax(270px, 1fr));
      grid-row-gap: 2rem;
      grid-column-gap: 30px;
    }

    #roomsWrapper {
      display: grid;
      grid-template-columns: 15% 50% 35%;
    }
}

@media only screen 
  and (min-width: 1300px) 
  and (max-width: 1450px)  { 

    .roomslist-center {
      width: 80%;
      margin: 0 2vw;
      display: grid;
      grid-template-columns: repeat(2, minmax(270px, 1fr));
      grid-row-gap: 2rem;
      grid-column-gap: 30px;
    }

    #roomsWrapper {
      display: grid;
      grid-template-columns: 15% 45% 40%;
    }
}
/* end grid fix code  */